@import "./../../common/index.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.paginationItem {
  background: $white;
  border: 2px solid $border;
  padding: 8px 12px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: $white;
  border: none;
  padding: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  // margin: 0 10px;
  cursor: pointer;
  .icon {
    width: 20px;
    opacity: 0.8;
    transition: all 0.5s;
    &.-reverse {
      transform: rotate(180deg);
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

.prev {
  margin-right: 10px;
}
.next {
  margin-left: 10px;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
