.main--header {
    @include boxShadow();
    width: 100%;
    height: 5rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2%;
    font-size: 1.5rem;
    > .navigation {
        @include md-up {
            opacity: 0;
        }
        > .icon {
            height: 20px;
        }
    }
    > .action {
        > .item {
            > .icon {
                height: 20px;
                @include md-up {
                    margin-right: 3px;
                }
            }
        }
    }
}
