@use "./mixins.scss" as *;

.btn--primary {
    @include buttonReset();
    white-space: nowrap;
    background: $blue-middle;
    color: $white !important;
    padding: 6px 3px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.25;
    border: 5px solid $white;
    text-transform: none;
    text-align: center;
    opacity: 0.8;
    &:hover {
        transition: opacity .4s;
        opacity: 1; 
    }
    &.-reward {
        margin-bottom: 15px;
    }
    @include shadow();
    @include md-up() {
        font-size: 24px;
    }
    &.-space {
        white-space: normal;
    }
    &.-small {
        font-size: 20px;
    }
    &.-not-selected {
        background: transparent;
    }
}
.btn--secondary {
    @include buttonReset();
    white-space: nowrap;
    background: $red;
    color: $white !important;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1;
    border: 5px solid $white;
    text-transform: none;
    text-align: center;
    @include shadow();
    // @include sm-up() {
    //     font-size: 24px;
    //     padding: 10px 65px;
    // }
    @include md-up() {
        font-size: 24px;
        padding: 10px 65px;
    }
    &.-center {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &.-not-selected {
        background: transparent;
    }
}
.btn--google {
    @include buttonReset();
    width: 100%;
    padding: 9px;
    border-radius: $border-radius-small;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    margin-bottom: 15px;
    opacity: 0.9;
    @include shadow();
    &:hover {
        transition: opacity 0.5s;
        opacity: 1;
    }
    > .icon {
        margin-right: 10px;
        width: 20px;
    }
    > .text {
        font-size: 14px;
        font-weight: 600;
    }
}
.btn--facebook {
    @include buttonReset();
    width: 100%;
    padding: 9px;
    border-radius: $border-radius-small;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b5998;
    margin-bottom: 25px;
    opacity: 0.9;
    color: $white;
    @include shadow();
    &:hover {
        transition: opacity 0.5s;
        opacity: 1;
    }
    > .icon {
        margin-right: 10px;
        width: 20px;
    }
    > .text {
        font-size: 14px;
        font-weight: 600;
    }
}

.btn--close {
    @include buttonReset();
    padding: 10px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity .4s;
    &:hover {
        transition: opacity .4s;
        opacity: 1; 
    }
    img {
        width: 25px;
    }
}

.btn--upload {
    @include buttonReset();
    max-width: 55px;
    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    &.-bright {
        &:before {
            color: white;
            &:hover {
                &:before {
                    border-color: $white;
                }
            }
        }
    }
    &:hover {
        &:before {
            border-color: black;
        }
    }
    &:before {
        // @include boxShadow();
        content: "\f382";
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        // background: linear-gradient(top, #f9f9f9, #e3e3e3);
        // border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        font-size: 30px;
        white-space: nowrap;
        // background: $background-content;
        -webkit-user-select: none;
        cursor: pointer;
        // text-shadow: 1px 1px #fff;
        font-weight: 700;
    }
    &:active {
        &::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
    }
}

body._navigation-opened {
    .menu-btn .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}
body._scrolled {
    .menu-btn {
        transform: scale(0.8);
        transform-origin: center center;
    }
}

.menu-btn {
    @include buttonReset();
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    @include lg-up {
        display: none;
    }
}
.menu-btn__burger {
    width: 60px;
    height: 7px;
    background-color: $white;
    transition: transform 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background: $white;
    // border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-14px);
}
.menu-btn__burger::after {
    transform: translateY(14px);
}

// .menu-btn.-opened .menu-btn__burger {
//     transform: translateX(-50px);
//     background: transparent;
//     box-shadow: none;
// }
// .menu-btn.-opened .menu-btn__burger::before {
//     transform: rotate(45deg) translate(35px, -35px);
// }
// .menu-btn.-opened .menu-btn__burger::after {
//     transform: rotate(-45deg) translate(35px, 35px);
// }
