


$black: #000000;
$white: #ffffff;
$blue-dark:  #195ede;
$blue-middle:  #00aeef;
$blue-light: #90cef1;
$footer: #01a9e8;

$red: #d70105;
$yellow:#fdcb11;

$text: $black;
$border: #d6d5cd;
$background-page:$white;

$error: #d70105;
$warning: #f6b817;
$success: #289a44;
