@import "./mixins.scss";
@import "./colors.scss";

.btn--login {
    display: block;
    background-color: $color-background-light;
    text-align: center;
    line-height: 27px;
    font-weight: 700;
    border-radius: 4px;
    margin: -1px 8px 0 0;
    width: 84px;
    transition: background-color 0.5s;
    &:hover {
        background-color: $color-background-light-hover;
    }
}

.btn--register {
    display: block;
    background: $color-primary;
    text-align: center;
    line-height: 27px;
    font-weight: 700;
    border-radius: 4px;
    margin: -1px 0 0 0;
    width: 84px;
    transition: color .3s;
    &:hover {
        background-color: $color-primary-hover;
    }
}

.btn--main {
    @include buttonReset();
    font-size: 14px;
    padding: 10px 16px;
    height: auto!important;
    font-weight: 500;
    color: #DADADD !important;
    border: 2px solid $color-background-light;
    // font-family: Roboto,arial,sans-serif;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 22px;
    background-color: transparent;
    border-radius:$border-radius;
    max-width: 310px;
    line-height: 1;
    transition: background-color .3s;

    &:hover {
        background-color: $color-background-light-hover;
    }

    &.-center {
        margin: 0 auto;
    }
}

.btn--primary {
    @include buttonReset();
    font-size: 14px;
    padding: 10px 16px;
    height: auto!important;
    font-weight: 500;
    color: #DADADD !important;
    border: 2px solid $color-primary;
    // font-family: Roboto,arial,sans-serif;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 22px;
    background-color: transparent;
    border-radius:$border-radius;
    max-width: 310px;
    line-height: 1;
    transition: background-color .3s;

    &:hover {
        background-color: $color-primary;
    }

    &.-center {
        margin: 0 auto;
    }
}

.btn--secondary {
    @include buttonReset();
    font-size: 14px;
    padding: 10px 16px;
    height: auto!important;
    font-weight: 500;
    color: #DADADD !important;
    border: 2px solid $color-primary;
    // font-family: Roboto,arial,sans-serif;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 22px;
    background: $color-primary;
    border-radius:$border-radius;
    max-width: 310px;
    line-height: 1;
    transition: all .3s;

    &.-center {
        margin: 0 auto;
    }
}

.btn--upload {
    @include buttonReset();
    max-width: 5.5rem;
    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    &.-bright {
        &:before {
            color: $color-white;
            &:hover {
                &:before {
                    border-color: $color-white;
                }
            }
        }
    }
    &:hover {
        &:before {
            border-color: black;
        }
    }
    &:before {
        // @include boxShadow();
        content: "\f382";
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        // background: linear-gradient(top, #f9f9f9, #e3e3e3);
        // border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        font-size: 3rem;
        white-space: nowrap;
        // background: $background-content;
        -webkit-user-select: none;
        cursor: pointer;
        // text-shadow: 1px 1px #fff;
        font-weight: 700;
    }
    &:active {
        &::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
    }
}

.btn--burger {
    @include buttonReset();
    vertical-align: middle;
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 7px 0;
    margin-left: auto;
    position: relative;
    z-index: 10;
    @include lg-up() {
        display: none;
    }
    &:focus {
        outline: none;
    }

    &.-active {
        > .bar {
            background-color: $color-white;
            &:nth-child(2) {
                opacity: 0;
            }

            &:first-child {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:last-child {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }

    > .bar {
        display: block;
        width: 100%;
        height: 3px;
        background: $color-white;
        transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), background-color 0.3s ease, opacity 0.3s ease;

        &:nth-child(2) {
            margin: 5px auto;
            opacity: 1;
        }
    }
}

// .button {
//     display: block;
//     margin: 0 auto;

//     &--full-width {
//         width: 100%;
//         text-align: center;
//     }

//     &--center {
//         display: flex;
//         justify-content: center;
//         width: 100%;
//     }

//     &-primary {
//         padding: 10px 40px;
//         border: 1px solid white;
//         background: none;
//         color: white;
//         font-size: 1.5rem;
//         line-height: 1.5rem;
//         // @include fontFunctional();
//         font-weight: 500;
//         border-radius: 3px;
//         display: inline-block;
//         cursor: pointer;
//         &:focus {
//             background: transparent;
//         }

//         &--small {
//             padding: 6px 15px !important;
//             font-size: 1.3rem;
//         }
//         &--mobile-searcher {
//             padding: 8px 12px 8px 16px;
//             font-size: 1.8rem;
//             border-bottom-left-radius: 0;
//             border-top-left-radius: 0;
//             background: var(--color-background);
//             //&:hover {
//             //  background: $color-background !important;
//             //}
//         }

//         &:hover {
//             border: 1px solid $color-primary;
//             color: $color-primary;
//         }
//     }

//     &-third {
//         padding: 10px 30px;

//         background: $color-secondary;
//         color: black !important;
//         font-size: 1.4rem;
//         // @include fontFunctional();
//         border-radius: 3px;
//         display: inline-block;
//         cursor: pointer;
//         border: 0;
//         &--medium {
//             padding: 7px 20px;
//             font-size: 1.2rem;
//         }
//         &--small {
//             padding: 4px 13px;
//             font-size: 1.1rem;
//         }
//         &:hover {
//             background: $color-secondary-hover;
//             color: black !important;
//         }

//         &--center {
//             display: inline-block;
//             margin: 0 auto;
//         }
//     }

//     &-secondary {
//         padding: 10px 30px;

//         background: $color-primary;
//         color: $color-background-dark !important;
//         font-size: 1.4rem;
//         // @include fontFunctional();
//         border-radius: 3px;
//         display: inline-block;
//         cursor: pointer;
//         border: 0;
//         &--medium {
//             padding: 7px 20px;
//             font-size: 1.2rem;
//         }
//         &--small {
//             padding: 4px 13px;
//             font-size: 1.1rem;
//         }
//         &:hover {
//             background: $color-primary-hover;
//             color: $color-background-dark !important;
//         }

//         &--center {
//             display: inline-block;
//             margin: 0 auto;
//         }
//     }

//     &-functional {
//         padding: 10px 20px;
//         background: $color-secondary;
//         color: white;
//         font-size: 1.7rem;
//         // @include fontFunctional();
//         border-radius: 3px;
//         display: inline-block;
//         cursor: pointer;
//         border: 0;
//         width: 70%;
//         @include mobile() {
//             width: 90%;
//         }

//         &--upload {
//             text-align: center;
//             display: block;
//             padding: 10px 25px;

//             i {
//                 font-size: 2.5rem;
//             }
//         }

//         &:hover {
//             color: white;
//             background: var(--color-secondary-hover);
//         }
//     }
// }
