$color-background-dark: #161617;
$color-background-dark-hover: #1f2229;
$color-background: #1a1a1b;
$color-background-light: #272729;
$color-background-light-hover: #484848;

$color-black: #000000;
$color-white: #ffffff;

$color-text: #d2d5d7;
$color-text-hover: #c7c7c7;

$color-text-grey: #6f7172;

$color-border: #313233;
$color-border-bright: #5c7069;

$color-placeholder: #bababa;

$color-link: #c1c4c5;
$color-link-hover: #818384;

$color-link-primary: #e1e1e1;
$color-link-primary-hover: white;

$color-link-secondary: #e1e1e1;
$color-link-secondary-hover: white;

$color-red: #ff0000;
$color-red-hover: #c9000f;


// $color-primary: #f6ca08;
// $color-primary-hover: #fde93a;

$color-primary: #bb3424;
$color-primary-hover: #E53D3A;



$color-secondary: #f6ca08;
$color-secondary-hover: #fde93a;

//co to?
$color-basic-middle: #1a1a1b;
$color-basic-middle-hover: #242425;

$color-error: #c9000f;
$color-success: #009542;
$color-warning: #f8b317;

// $white: #ffffff;
// $red: #ea4135;

// $error: #f33134;
// $warning: #f6b817;
// $success: #289a44;
