$border-radius: 6px;
$border-radius-small: 4px;

$height-header-mobile: 40px;
$height-header: 48px;

// $color-text: #d2d5d7;
// $color-text-hover: #c7c7c7;

// $color-text-grey: #6f7172;


// $color-error: #c9000f;
// $color-success: #009542;
// $color-warning: #f8b317;fesfsef